<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'home-page' %}">BOOKS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home-page' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">References</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'books-list' %}">Books</a>
          {% if permission_author_view == True %}
            <a class="dropdown-item" href="{% url 'autors-list' %}">Autors</a>
          {% endif %}
          {% if permission_genre_view == True %}
            <a class="dropdown-item" href="{% url 'genres-list' %}">Genres</a>
          {% endif %}
          {% if permission_seria_view == True %}
            <a class="dropdown-item" href="{% url 'series-list' %}">Series</a>
          {% endif %}
          {% if permission_publisher_view == True %}
            <a class="dropdown-item" href="{% url 'publishers-list' %}">Publishers</a>
          {% endif %}
          {% if permission_address_view == True %}
            <a class="dropdown-item" href="{% url 'addresses-list' %}">Addresses</a>
          {% endif %}
          {% if permission_city_view == True %}
            <a class="dropdown-item" href="{% url 'cities-list' %}">Cities</a>
          {% endif %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"></form>
      {% if search_field %}
        <form action="{% url search_field %}" method="get">
          <input name='q' class="form-control mr-sm-2" type="text" placeholder="{% q if q else 'Search' %}" aria-label="Search">
        </form>
      {% endif %}
      <a href="{% url 'my-login' %}"><button type="button" class="btn btn-outline-danger">LOG IN</button></a>
      <a href="{% url 'my-logout' %}"><button type="button" class="btn btn-outline-primary">LOG OUT</button></a>
    </form>
  </div>
</nav>