{% extends "base.html" %}
{% load book_tags %}

{% block title %} Orders {% endblock title %}

{% block main_body %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><a href="?field=pk&{{ sort_form_new }}">#
                    {% find_arrow 'pk' %}
                </a></th>
                <th>User</th>
                <th scope="col"><a href="?field=address&{{ sort_form_new }}">Address
                    {% find_arrow 'address' %}
                </a></th>
                <th scope="col"><a href="?field=phone&{{ sort_form_new }}">Phone
                    {% find_arrow 'phone' %}
                </a></th>
                <th scope="col"><a href="?field=status&{{ sort_form_new }}">Status
                    {% find_arrow 'status' %}
                </a></th>
                <th scope="col"><a href="?field=date_of_create&{{ sort_form_new }}">Date of create
                    {% find_arrow 'date_of_create' %}
                </a></th>
                <th scope="col"><a href="?field=date_of_update&{{ sort_form_new }}">Date of update
                    {% find_arrow 'date_of_update' %}
                </a></th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in object_list %}
            <tr>
                {% if permission_view == True %}
                    <td><a href="{% url 'order:order-detail' order.pk %}">{{ order.pk }}</a></td>
                {% else %}
                    <td>{{ order.pk }}</td>
                {% endif %}
                <td>{{ order.cart.user }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date_of_create }}</td>
                <td>{{ order.date_of_update }}</td>
                <td>
                {% if permission_change == True %}
                    <a href="{% url 'order:order-update' order.pk %}"><i class="far fa-edit"></i></a>
                {% endif %}
                {% if permission_delete == True %}
                    <a href="{% url 'order:order-delete' order.pk %}"><i class="fas fa-trash"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ sort_form }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ sort_form }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ sort_form }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ sort_form }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>

{% endblock main_body %}