{% extends "base.html" %}
{% load book_tags %}

{% block title %} Autors {% endblock title %}

{% block main_body %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="?field=city&{{ sort_form_new }}">City 
                    {% find_arrow 'city'%}
                </a></th>
                <th scope="col"><a href="?field=street&{{ sort_form_new }}">Street
                    {% find_arrow 'street'%}
                </a></th>
                <th scope="col"><a href="?field=block&{{ sort_form_new }}">Block
                    {% find_arrow 'block'%}
                </a></th>
                <th scope="col"><a href="?field=house&{{ sort_form_new }}">House
                    {% find_arrow 'house'%}
                </a></th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in object_list %}
            <tr>
                <td>{{ address.pk }}</td>
                {% if permission_view == True %}
                    <td><a href="{% url 'address-detail' address.pk %}">{{ address.city.name }}</a></td>
                {% else %}
                <td>{{ address.city.name }}</td>
                {% endif %}
                <td>{{ address.street }}</td>
                <td>{{ address.block }}</td>
                <td>{{ address.house }}</td>
                <td>
                {% if permission_change == True %}
                    <a href="{% url 'address-update' address.pk %}"><i class="far fa-edit"></i></a>
                {% endif %}
                {% if permission_delete == True %}
                    <a href="{% url 'address-delete' address.pk %}"><i class="fas fa-trash"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ sort_form_new }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ sort_form_new }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ sort_form_new }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ sort_form_new }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    {% if permission_add == True %}
        <a href="{% url 'address-create' %}"><button type="button" class="btn btn-secondary">Add address</button></a>
    {% endif %}
{% endblock main_body %}