{% extends "base.html" %}
{% load book_tags %}

{% block title %} Autors {% endblock title %}

{% block main_body %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="?field=last_name&{{ sort_form_new }}">Last name
                    {% find_arrow 'last_name' %}
                </a></th>
                <th scope="col"><a href="?field=first_name&{{ sort_form_new }}">First name
                    {% find_arrow 'first_name' %}
                </a></th>
                <th scope="col"><a href="?field=date_of_birth&{{ sort_form_new }}">Date of birth 
                    {% find_arrow 'date_of_birth' %}
                </a></th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for autor in object_list %}
            <tr>
                <td>{{ autor.pk }}</td>
                {% if permission_view == True %}
                    <td><a href="{% url 'autor-detail' autor.pk %}">{{ autor.last_name }} {{autor.first_name}}</a></td>
                {% else %}
                    <td>{{ autor.last_name }} {{autor.first_name}}</td>
                {% endif %}
                <td>{{ autor.first_name }}</td>
                <td>{{ autor.date_of_birth }}</td>
                <td>{{ autor.address }}</td>
                <td>
                {% if permission_change == True %}
                    <a href="{% url 'autor-update' autor.pk %}"><i class="far fa-edit"></i></a>
                {% endif %}
                {% if permission_delete == True %}
                    <a href="{% url 'autor-delete' autor.pk %}"><i class="fas fa-trash"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ sort_form }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ sort_form }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ sort_form }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ sort_form }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    {% if permission_add == True %}
        <a href="{% url 'autor-create' %}"><button type="button" class="btn btn-secondary">Add author</button></a>
    {% endif %}
{% endblock main_body %}