{% extends "base.html" %}
{% load book_tags %}

{% block title %} Books {% endblock title %}

{% block main_body %}

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col"><a href="?field=name&{{ sort_form_new }}">Name
                {% find_arrow 'name' %}
            </a></th>
            <th scope="col"><a href="?field=cost&{{ sort_form_new }}">Cost
                {% find_arrow 'cost' %}
            </a></th>
            <th scope="col"><a href="?field=author&{{ sort_form_new }}">Author
                {% find_arrow 'author' %}
            </a></th>
            <th scope="col"><a href="?field=seria&{{ sort_form_new }}">Seria
                {% find_arrow 'seria' %}
            </a></th>
            <th scope="col"><a href="?field=genre&{{ sort_form_new }}">Genre
                {% find_arrow 'genre' %}
            </a></th>
            <th scope="col"><a href="?field=year_of_publishing&{{ sort_form_new }}">Year of publishing
                {% find_arrow 'year_of_publishing' %}
            </a></th>
            <th scope="col"><a href="?field=publisher&{{ sort_form_new }}">Publisher
                {% find_arrow 'publisher' %}
            </a></th>
            <th scope="col"><a href="?field=amount&{{ sort_form_new }}">Amount
                {% find_arrow 'amount' %}
            </a></th>
            <th scope="col"><a href="?field=active&{{ sort_form_new }}">Active
                {% find_arrow 'active' %}
            </a></th>
            <th scope="col"><a href="?field=rating&{{ sort_form_new }}">Rating
                {% find_arrow 'rating' %}
            </a></th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in object_list %}
            <tr>
                <td>{{ book.pk }}</td>
                <td><a href="{% url 'book-detail' book.pk %}">{{ book.name }}</a></td>
                <td>{{ book.cost }}</td>
                <td>{% for author in book.author.all %} {{ author }} {% endfor %}</td>
                {% if permission_seria_view == True and object.seria %}
                    <td><a href="{% url 'seria-detail' book.seria.pk %}">{{ book.seria }}</a></td>
                {% else %}
                    <td>{{ book.seria.pk }}</td>
                {% endif %}
                <td>{% for genre in book.genre.all %} {{ genre }} {% endfor %}</td>
                <td>{{ book.year_of_publishing }}</td>
                {% if permission_pub_view == True %}
                    <td><a href="{% url 'publisher-detail' book.publisher.pk %}">{{ book.publisher }}</a></td>
                {% else %}
                    <td>{{ book.publisher }}</td>
                {% endif %}
                <td>{{ book.amount }}</td>
                <td>{{ book.active }}</td>
                <td>{{ book.rating }}</td>
                <td>
                {% if permission_change == True %}
                    <a href="{% url 'book-update' book.pk %}"><i class="far fa-edit"></i></a>
                {% endif %}
                {% if permission_delete == True %}
                    <a href="{% url 'book-delete' book.pk %}"><i class="fas fa-trash"></i></a>
                {% endif %}
                <a href="{% url 'cart:add-to-cart' %}?book={{ book.pk }}"><i class="fas fa-cart-plus"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&{{ sort_form }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ sort_form }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ sort_form }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ sort_form }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    {% if permission_add == True %}
        <a href="{% url 'book-create' %}"><button type="button" class="btn btn-secondary">Add book</button></a>
    {% endif %}
{% endblock main_body %}