{% extends "base.html" %}

{% block title %} Books {% endblock title %}

{% block main_body %}
    <div class="card" style="width: 10rem; ; height: 23rem;">
        {% if object.image %}
            <img src="{{ object.image.url }}" class="card-img-top" style="width: 10rem; height: 10rem;" alt="{{ object.name }}">
        {% else %}
            <p></p>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">
                Author: {% for author in object.author.all %}{{ author }}<br/>{% endfor %}
                Seria {{ object.seria }}<br>
                Genre: {% for genre in object.genre.all %}{{ genre }}<br/>{% endfor %}
                Publisher {{ object.publisher }}<br>
                <a href="{% url 'books-list' %}"><button type="button" class="btn btn-light">All books</button></a>
            </p>
        </div>
    </div>
{% endblock main_body %}