<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>#</td>
            <td>name</td>
            <td>addresses</td>
        </tr>
        {% for city in object_list %}
            <tr>
                <td>{{city.pk}}</td>
                <td><a href="{% url 'city-detail' city.pk %}">{{ city.name }}</a></td>
                <td>{{ city.addresses.all|length }}</td>
                <td><a href="{% url 'city-update' city.pk %}">Update</a></td>
                <td><a href="{% url 'city-delete' city.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'city-create' %}">Add city</a>
</body>
</html>