{% extends "base.html" %}

{% block title %} Publishers {% endblock title %}

{% block main_body %}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">actions</th>
        </tr>
    </thead>
    <tbody>
    {% for publisher in object_list %}
        <tr>
            <td>{{publisher.pk}}</td>
            <td><a href="{% url 'publisher-detail' publisher.pk %}">{{ publisher.name }}</a></td>
            <td><a href="{% url 'publisher-update' publisher.pk %}"><i class="far fa-edit"></i></a>
            <a href="{% url 'publisher-delete' publisher.pk %}"><i class="fas fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'books-list' %}"><button type="button" class="btn btn-success">Home</button></a>
<a href="{% url 'publisher-create' %}"><button type="button" class="btn btn-secondary">Add publisher</button></a>
{% endblock main_body %}